body {
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-size: 2.5em;
  color: #f00;
  text-align: center;
  margin-top: 50px;
}

.review {
  background-color: #111;
  border: 2px solid #f00;
  padding: 15px;
  margin: 10px;
  max-width: 600px;
  width: 100%;
}

.review h2 {
  color: #f00;
}

.review img {
  max-width: 100%;
  margin-top: 10px;
}

.return-home {
  text-align: center;
  margin-top: 20px;
}

.return-home a {
  color: #f00;
  text-decoration: none;
  font-size: 1.2em;
}

.return-home a:hover {
  text-decoration: underline;
}
