/* Navigation Bar */
nav {
    background-color: #1c1c1c;
    padding: 15px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #bbb;
    text-decoration: none;
    font-size: 1.2em;
    padding: 15px;
    margin: 0 15px;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #f44336;
}

nav a.active {
    color: #f44336;
    font-weight: bold;
}

/* Search Bar in Navigation */
#search-container {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

#search-container input {
    padding: 10px 15px;
    font-size: 1.1em;
    width: 220px;
    border-radius: 8px;
    border: 1px solid #444;
    background-color: #222;
    color: #e0e0e0;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

#search-container input:focus {
    background-color: #333;
    outline: none;
}

#search-container button {
    padding: 10px 20px;
    font-size: 1.1em;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#search-container button:hover {
    background-color: #d32f2f;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

#search-container button:focus {
    outline: none;
}

