body {
    background-color: #111;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #444;
}

h1, h2 {
    color: #f00;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav a {
    color: #f00;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid #f00;
    background-color: #222;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #444;
}

.search-container {
    margin-top: 10px;
}

#search-bar {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: 1px solid #f00;
    width: 200px;
    border-radius: 5px;
}

#search-bar::placeholder {
    color: #888;
}

main {
    padding: 20px;
    text-align: center;
}

#reviews-container {
    max-width: 800px;
    margin: 0 auto;
}

.review {
    background-color: #333;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.review h3 {
    color: #f00;
    font-size: 1.2em;
}

.review p {
    margin: 5px 0;
}

.review strong {
    color: #f00;
}

.review img {
    max-width: 150px;
    border-radius: 5px;
    margin-right: 15px;
    float: left;
}

.review-container {
    display: flex;
    align-items: center;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #222;
    color: #f00;
    border: 1px solid #f00;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #444;
}

.pagination button:disabled {
    background-color: #333;
    cursor: not-allowed;
}
